

@if(loggedIn){
    <p>logged in!</p>
    }
    @else {
    <p>not logged in!</p>
    
    <form #loginForm="ngForm" (ngSubmit)="login()" class="login&Register">
        <input name="username" [(ngModel)]="body.username" placeholder="Username">
    
        <input name="password" [(ngModel)]="body.password" placeholder="Password" type="password">
        <button type="submit">Login</button>
    </form>
    }

    <br>

<button  mat-raised-button routerLink="/register">Register</button>
<button  mat-raised-button routerLink="/orders">Orders</button>
<button  mat-raised-button routerLink="/support">Support</button>
<button  mat-raised-button routerLink="/products">Products</button>
