<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="nav-bar.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<nav class="nav-bar">  
    <ul class="navhome">
    <li><a mat-button routerLink="/home">EasyPCLogoPlaceHolder</a></li>
</ul>
<ul class="navcenter">
    <li><a mat-button routerLink="/products">Products</a></li>
    <li><a mat-button routerLink="/orders">Orders</a></li>
    <li><a mat-button routerLink="/support">Support</a></li>
</ul>
<ul class="navright">
    <li><a mat-button id="loginButton" onclick="openForm()">Login</a></li>
    <li><a mat-button routerLink="/register">Register</a></li>
</ul>
</nav>

<div class="loginForm-container">
    <div class="loginForm-content">
        <button mat-button id="closeLogin" onclick="closeForm()">Close</button>
        <form class="login">
        <h2>Login</h2>
        <div class="loginForm-control">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="loginForm-control">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="loginForm-control-others">
            <button mat-button id="login">Login</button>
        </div>
    </form>
    </div>
</div>